.row
  .col-md-12
    %h1 Новая игра

.row
  .col-md-12
    %h2#status
      Идет


  #dealer
    = render partial: 'dealer'

%br

  #players
    = render partial: 'players', locals: { game: @game }


  %br

  .row
    .col-md-6
      = form_tag(hit_game_path(@game), method: :post, remote: true) do
        %input.btn.btn-primary{:value => "Еще карту", :type => "submit"}

    .col-md-6
      = form_tag(stop_game_path(@game), method: :post, remote: true) do
        %input.btn.btn-warning{:value => "Хватит", :type => "submit"}